<launch>
	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

	<node pkg="nodelet" type="nodelet" name="cloud_nodelet" 
			args="load depth_image_proc/point_cloud_xyz nodelet_manager" output="screen">
		<remap from="image_rect" to="/stereo_depth_perception/disparity_front_left_image/" />
		<param name="queue_size" type="int" value="10" />
	</node>
</launch>